# Raw battery dataset
Dataset/*.mat

# Python cache
__pycache__/
*.pyc

# Jupyter temporary files
.ipynb_checkpoints/

# Environment files
.env

# Large model files
*.pkl
*.joblib
*.h5

# Google Colab files
*.csv.tmp

!models/random_forest_soh_model.joblib

# Raw dataset - do not upload
Dataset/
# Runtime/log files
*.log
*.deb
